<div class="page-header">
  <h1>
    Things to Do
    <%= link_to icon('plus'), new_task_path, class: "btn btn-lg btn-success" %>
  </h1>
</div>

<div class="row isotope-container">
<% @tasks.each do |task| %>
  <%= render task %>
<% end %>
</div>
